
<form class="form">
    <div>
    <label for="FullName" *ngIf="firstName.valid || !firstName.touched" >Full Name</label>
    <label for="FullName" *ngIf="!firstName.valid && firstName.touched" id="red">Full Name</label>
    <input required minlength="3" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
    <div *ngIf="firstName.valid && firstName.touched" class="myForm">  </div>
    <div *ngIf="!firstName.touched" class="myForm"></div>
    <div *ngIf="!firstName.valid && firstName.touched" id="form-not-valid"> Full name required</div>
   
    </div>
    <div class="">
      <label  for="Company Name" *ngIf="company.valid || !company.touched" > Company Name</label>
      <label  for="Company Name" *ngIf="!company.valid && company.touched" id="red">Company Name</label>
      <input required minlength="3" ngModel name="company" #company="ngModel" type="text" class="form-control" >
      <div *ngIf="company.touched && company.valid" class="myForm" ></div>
      <div *ngIf="!company.touched" class="myForm"></div>
      <div *ngIf="!company.valid && company.touched  " id="form-not-valid" > Input company name</div>
      <div *ngIf=" company.touched && company.value.length < 3" id="form-not-valid" > Not valid name</div>
      
     
    </div>
    <div class="">
      <label for="Phone number" *ngIf="number.valid || !number.touched">Phone number</label>
      <label  for="Phone number" *ngIf="!number.valid && number.touched" id="red">Phone number</label>
      <input required minlength="13" ngModel name="number" #number="ngModel" type="text" ngModel="+" class="form-control" value="ngModel">
      <div *ngIf="!number.touched" class="myForm"></div>
      <div *ngIf="number.touched && number.valid" class="myForm"></div>
      <div id="form-not-valid" *ngIf="number.touched && number.value.length < 13" > Enter valid number</div>
    </div>

    <div class="">
      <label for="Email" *ngIf="email.valid || !email.touched">E-mail</label>
      <label  for="Email" *ngIf="!email.valid && email.touched" id="red">Email</label>
      <input required minlength="12" ngModel name="email" (change)="validateEmail(email.value)" #email="ngModel" type="text" class="form-control">
      <div *ngIf="email.value.length >= 13" class="myForm" > </div>
      <div  *ngIf="email.touched && email.value.length < 13" id="form-not-valid" > Enter valid e-mail</div>
      <div *ngIf="!email.touched" class="myForm"></div>
    </div>
    <div class="">
       <label for="comment" class="write">Write Us Message</label>
       <textarea  ngModel name="comment" id="comment" cols="30" rows="10" class="write"></textarea>
 
    </div >
    
    
    <button class="btn-confirm" (click)="sendInfo()">Send Message</button>
    </form>

  