.default {
    margin: 0;
    padding: 0;
}


.logo {
    position: absolute;
    left: 18.74%;
    right: 5.15%;
    top: 8.29%;
    bottom: 16.67%;
    
}

.back {
    background-color: #FFBC00;
    width: 100vw;
    height: 100vh;
}

.Home {
    position: absolute;
    left: 55.74%;
    right: 5.15%;
    top: 9.29%;
   
}

.About {
    position: absolute;
    left: 60.74%;
    right: 5.15%;
    top: 9.29%;

}

.What {
    position: absolute;
    left: 65.74%;
    right: 5.15%;
    top: 9.29%;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0px 4px 0px rgba(206,89,55,0.30);
   }

.Contact {
    position:absolute;
    left: 72.74%;
    right: 5.15%;
    top: 9.29%;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    box-sizing: border-box;
    width: 176px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.40);
    text-align:center;
    width: 118px;
    height: 50px;
    border-radius: 12px;
}

.main-image {
   
    position: absolute;
    left: 50.74%;
    right: 25.15%;
    top: 22.29%;

}
.title-content {
    position: absolute;
    left: 15%;
    right: 25.15%;
    top: 22.29%;
    font-family: 'Anton', sans-serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 0px 4px 0px rgba(206,89,55,0.30);

}
.title-content2 {
    position: absolute;
    left: 15%;
    right: 25.15%;
    top: 29.29%;
    font-family: 'Anton', sans-serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 0px 4px 0px rgba(206,89,55,0.30);


}
a:link {
    text-decoration: none;
 }
 a:visited {
    text-decoration: none;
    
 }
a:visited {
    color: inherit
}

#header-links {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    text-shadow: 0px 4px 0px rgba(206,89,55,0.30);
}

.text-content {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    width: 560px;
    height: 58px;
    position: absolute;
    left: 20.74%;
    right: 25.15%;
    top: 47.29%;
    text-shadow: 0px 4px 0px rgba(206,89,55,0.30);
}
#box-style {
    box-sizing: border-box;
    position: absolute;
    width: 176px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.40);
    border-radius: 16px;

}
.learn {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    position: absolute;
    left: 20.74%;
    right: 25.15%;
    top: 67.29%;
}
.scroll {
    position: absolute;
    width: 47px;
    height: 21px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    transform: rotate(-90deg);


}
#Contact {
    margin-top: 100px;
    left: 20.74%;
    position: absolute;

    font-family: Anton;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0px;
    text-align: left;


    text-shadow: 0px 4px 0px rgba(206,89,55,0.30);
    color: #FFBC00;


}
#Us {
    margin-top: 100px;
    left: 29.74%;
    
    position: absolute;



    font-family: Anton;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0px;
    text-align: left;
    text-align: left;
    text-shadow: 0px 4px 0px rgba(206,89,55,0.30);
}
#rectangle {
    
    position: absolute;
width: 1170px;
height: 819px;

background: #ffffff;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
border-radius: 30px;

position: absolute;
left: 20.74%;
right: 5.15%;
top: 131.29%;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
border-radius: 30px;
margin-bottom: 100px;


  }
  #scroll {
    position: absolute;
    left: 20.74%;
    right: 75.15%;
    top: 80.29%;
    rotate: -90deg;    

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  #arrow {
    position: absolute;
    left: 21.00%;
    right: 74.80%;
    top: 88.29%;
    rotate: 90deg;   
  }
  
.logo-mobile {
    
    margin-top: 40px;
    margin-left: 33px;
}
.cross-icon {
    padding-top: 20px;
}

.mobile-menu-open {
    background-color: #FFBC00;
    height: 100vh;
    
    
}
.success {
    color: green;
}
.danger {
    color: red;
}
.test {
    color: red;
}
#mobile-links {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    height: 24px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: #FFBC00;
    
    
    
        }

 #mobile-links > * {
            margin-bottom: 20px;
            
           
        }
  .low-visible {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
opacity: 0.5;
  }
  .cross {
    position: absolute;
    left: 80%;
    top: 6%;

  
  }
  .hideMe{
    display: none;
    color: #FFBC00;
}
.show {
    color: red
}
.isHidden {
    display: none;
}
.hideMainMenu {
    display: none;
}
.arrow-button {
    position: absolute;
    left: 72.74%;
    right: 5.15%;
    top: 113.29%;
}
@media (min-width: 376x) {
    .mobile-logo {
        display: none;
    }
}
  @media (max-width: 375px) {

    .arrow-button {
        left: 268px;
        top: 827px;
    }
    .mobile-logo {
        position: absolute;
width: 30px;
height: 13px;
left: 321px;
top: 55px;
border-radius: 1px;
    }
    .logo {
        position: absolute;
left: 7.74%;
right: 5.15%;
top: 5.29%;
bottom: 16.67%;

background: #FFBC00
    }
    .Home {
        display: none; 
    }
    .About {
        display: none;

    }
    .Contact {
        display: none;
    }
    .What {
        display: none;
  }
  .title-content {
    position: absolute;
    width: 270.64px;
    height: 109px;
    left: 24px;
    top: 139px;

    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 130%;


    text-transform: uppercase;

  }
  .title-content2{
    position: absolute;
width: 270.64px;
height: 109px;
left: 24px;
top: 189px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 130%;


text-transform: uppercase;

   }
   .text-content {
    position: absolute;
width: 300px;
height: 66px;
left: 24px;
top: 273px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
   }
   .learn {
    position: absolute;
width: 75px;
height: 16px;
left: 33px;
top: 389px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
   }
   .main-image {
    position: absolute;
width: 401px;
height: 313.75px;
left: 39px;
top: 472px;
   }
   #scroll {
    display: none;
   }
   #arrow {
    display: none;
   }
   #Contact {
    position: absolute;
width: 140px;
height: 48px;
left: 24px;
top: 737px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
text-transform: uppercase;
   }
   #Us {
    position: absolute;
width: 140px;
height: 48px;
left: 134px;
top: 737px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 48px;
text-transform: uppercase;
   }
   #rectangle {
    position: absolute;
width: 327px;
height: 480px;
left: 24px;
top: 899px;

background: #FFFFFF;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
border-radius: 30px;
   }
   .menu-hidden {
    display: none;
   }
   .menu-open{
    display: block;
   }
}




