    <header class="">
        
        
    </header>
    <div id="header-links">
 <a href="" class="Home">Home</a>
 <a href="" class="About">About Us</a>
 <a href="" class="What">What We Do</a>
 
</div>
<a href="" class="Contact">Contact Us</a>

 <div class="back">
    <img src="./assets/logo-white 4.png" class="logo">
    <img src="./assets/space-helmetf 2.png" class="main-image">
    <h1 class="title-content"> Never Caught </h1>
    <h1 class="title-content2"> Off-Guard Again</h1>
    <p class="text-content" >We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.</p>
    <button id="box-style" class="learn">Learn More!</button>
    <p class="scroll">Scroll</p>
    
 </div>
   <h1 id="Contact">CONTACT US</h1>
<div class="form">
   
   <div id="rectangle"></div>
   <app-contact-form></app-contact-form>
</div>



 